<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <location  path="Default2.aspx">  <!--  separate settings for specified path-->
    <appSettings>
      <add key="k1"  value="vv1"/>
      <add key="k2"  value="vv2"/>


    </appSettings>
    
  </location>

  <!--<location allowOverride="false">
    <appSettings  configSource="AppSettings.xml"></appSettings>

  </location>-->




  <!--<appSettings>
    <add key="k1"  value="v1"/>
    <add key="k2"  value="v2"/>
    
    
  </appSettings>-->
  <appSettings  configSource="AppSettings.xml"></appSettings>  <!-- we can store the app settings in separate xml file ALSO in this case Appsettings.xml  -->
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

      <!--<pages validateRequest="true"></pages>-->
      <pages validateRequest="false" maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="4.0"></pages>

      <!--<customErrors mode="RemoteOnly" defaultRedirect="DefaultErrorPage.aspx" > </customErrors>-->  <!--   it only allow remote users that means users other than iis other servers  -->
     <!--<customErrors mode="On" defaultRedirect="DefaultErrorPage.aspx" > </customErrors>-->  <!--  allows local users to redirect-->
      <!--<customErrors mode="Off" defaultRedirect="DefaultErrorPage.aspx" > </customErrors>    --><!-- it completely disables the default error page  for both remote and local also  used by testers on remote server  -->

<!--  Section for different  actions for different errors   -->
      <customErrors mode="On" defaultRedirect="DefaultErrorPage.aspx" >

        <error  statusCode="404" redirect="FileNotFound.aspx"/>
        
      </customErrors>

      <urlMappings>
        <add url="~/Monitor.aspx" mappedUrl="~/Computer.aspx?Id=1"/>
        <add url="~/Mouse.aspx" mappedUrl="~/Computer.aspx?Id=2"/>
        <add url="~/Keyboard.aspx" mappedUrl="~/Computer.aspx?Id=3"/>
      </urlMappings>

      <trace enabled="false" pageOutput="true"  mostRecent="true" requestLimit="5"
             localOnly="true"  writeToDiagnosticsTrace="true" traceMode="SortByTime"/>
      
    </system.web>

</configuration>
