<?xml version="1.0"?>
<configuration>
    <system.web>
      <authorization>

        <deny users="?"/> <!--  not needed to mention that allow access to * cause if we deny some then  it will automatically allows the other users -->
        
        
      </authorization>
    </system.web>

  <system.webServer>
    <validation  validateIntegratedModeConfiguration="false" />

  </system.webServer>
</configuration>
