<?xml version="1.0"?>
<configuration>
    <system.web>
      <!-- Role based authorisation 
      one user can ave many roles 
      one role can have many users 
      -->
      <authorization>
        <deny  users="?" />
        <!--<deny roles="r1"/>--><!-- it checks the role of current user and then decide it is authorised or not in this case it denied -->
        <deny roles="r1" verbs="Post"/> <!-- it will denied the request which are coming as Post Method  -->
        <allow users="*"/>
        
      </authorization>
      
      
      
      <!--<authorization>
       
        <deny users="?,u1"/>--><!--    denied for ?  anonymous users and user with name u1 --><!--
        --><!-- in above case system will have  authenticated user  but does not give acceess to them of this page  --><!--
        <allow users="*" />--><!--  * is for authorised users --><!--
      </authorization>-->
     
    </system.web>
</configuration>
