<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="EL-LT-267" connectionString="Data Source=EL-LT-267;Initial Catalog=ProviderDemoDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>

    <!-- ************************************ below are using inbuilt  MembershipProviders  api***************************************************-->
    <!--<membership defaultProvider="DemoSqlMembershipProvider"> -->
    <!--  change here-->
    <!--
      <providers>
        <add name="DemoSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="EL-LT-267" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>-->  
    
    <roleManager enabled="true" defaultProvider="DemoSqlRoleProvider">
      <providers>
        <add connectionStringName="EL-LT-267" applicationName="/" name="DemoSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>

    <!--  **************************************************** above are inbuilt custom providers  **************************************************  -->
    
    <!-- ************************************ below are using Custome Providers ***************************************************-->

    <membership defaultProvider="DemoSqlMembershipProvider">
      <!--  change here-->
      <providers>
        <add name="DemoSqlMembershipProvider" type="MyCustomProvider.MyMemberShipProvider,MyCustomProvider " connectionStringName="EL-LT-267" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    
    <!--<roleManager enabled="true" defaultProvider="DemoSqlRoleProvider">
                
      <providers>                                                                           --><!--          namespace.classname           ,Assembly  --><!--    
        <add connectionStringName="EL-LT-267" applicationName="/" name="DemoSqlRoleProvider" type="MyCustomProvider.MyCustomRoleProvider,MyCustomProvider"/>
      </providers>
    </roleManager>-->
    
    
    <!--**********************************************************************************************-->
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms"/>
  </system.web>
</configuration>