<?xml version="1.0"?>
<configuration>
    <system.web>
      <authorization>
        <!--<deny users="?"/>--><!--    denied for ?  anonymous users   -->
        <deny users="?,u1"/><!--    denied for ?  anonymous users and user with name u1 -->
        <!-- in above case system will have  authenticated user  but does not give acceess to them of this page  -->
        <allow users="*" /><!--  * is for authorised users -->
      </authorization>
     
    </system.web>
</configuration>
